{% extends '/layout/publiclayout.twig' %}

{% block title %}
    <title>
        My news
    </title>
{% endblock %}

{% block headcontent %}
    <link rel='stylesheet' type='text/css' href='./assets/css/responsive.css'>
{% endblock %}

{% block content %}
<div id='page-title'>
    <h1 class="center" >Un billet pour l'Alaska</h1>
    <h2>blog de Jean Forteroche</h2>
</div>
    
    <div id='blog' class="container">
            {% for i in sizePage*(page-1)..sizePage*page-1 %}

                {% if posts[i] is defined %}
                     <article class='smallArticle'>
                        <h3> {{ posts[i].title }} </h3>
                        <a class='article-link' href='index.php?action=post&id={{ posts[i].id }}'>                            
                            <div class='content-container'>
                                <div class='article-content' style='display: block'>
                                    <a class='article-link' href='index.php?action=post&id={{ posts[i].id }}'>    
                                        <img class='smallImg' src='./resources/img/{{ posts[i].img_key }}.{{ posts[i].img_ext }}' alt="Image d'illustration de l'article: {{ posts[i].title }}">
                                        {% autoescape %}
                                            {{ posts[i].content|raw }}
                                        {% endautoescape %} 
                                    </a>
                                </div>
                                <div class='article-signature'>
                                    Rédigé par: "{{ posts[i].author }}", le ["{{ posts[i].date }}"] <a href='index.php?action=post&id={{ posts[i].id }}'>[{{ posts[i].nb_comments }}] Commentaires</a>
                                </div>
                                <br>
                            </div>
                        
                    </article> 
                {% endif %}
            
            {% endfor %}
            
            
        {% if nbPage > 1 %}
            <nav id="nav-Pagination">
                <ul class="pagination">
                    {% if page > 1 %}
                        <li class="page-item"><a class="page-link" href="index.php?page={{ page-1 }}">Previous</a></li>
                    {% else %}
                        <li class="page-item"><a class="page-link" href="index.php?page={{ nbPage }}">Previous</a></li>
                    {% endif %}

                    {% for i in 1..nbPage %}
                        <li id='page-link-{{ i }}' class='page-item'><a class='page-link' href='index.php?page={{ i }}'>{{ i }}</a></li>
                    {% endfor %}

                    {% if page < nbPage %}
                        <li class="page-item"><a class="page-link" href="index.php?page={{ page+1 }}">Next</a></li>
                    {% else %}
                        <li class="page-item"><a class="page-link" href="index.php?page=1">Next</a></li>
                    {% endif %}

                </ul>
            </nav>
        {% endif %} 
    </div>
{% endblock %}