{% extends '/layout/adminlayout.twig' %}

{% block title %}
    <title>
        Gest. Commentaires
    </title>
{% endblock %}

{% block script %}
    <script src='assets/js/adminanswer.js'></script>
{% endblock %}

{% block content %}
        
    <div id="btnCommentPanel">
        <a href="index.php?action=moderation"><button><i class="far fa-comment-dots"></i> Liste des commentaires</button></a>
        <a href="index.php?action=report"><button><i class="far fa-comment-dots"></i> Liste des signalements</button></a>
        <a href="index.php?action=modlist"><button><i class="far fa-comment-dots"></i> Liste des modérés</button></a>
    </div>

    

    <form method='POST' enctype='text/plain' role='form' action='index.php?action=answerto' id="modalanswer" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class='modal-header text-center'>
                    <h4 id='modal-title' class='modal-title w-100 font-weight-bold'>Votre réponse</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class='md-form mb-4'>
                        <i class='fas fa-user prefix grey-text'></i>
                        <label data-error='wrong' data-success='right' for='name'>Votre pseudo:</label>
                        <input name='name' type='text' id='name' class='form-control validate' value='{{ OnlineUser }}' disabled>
                    </div>

                    <div class='md-form mb-4'>
                        <i class='fas fa-user prefix grey-text'></i>
                        <label data-error='wrong' data-success='right' for='answerto'>En réponse à:</label>
                        <input name='answerto' type='text' id='answerto' class='form-control validate' disabled>
                    </div>

                    <div class='md-form mb-5'>
                        <i class='fas fa-envelope prefix grey-text'></i>
                        <label data-error='wrong' data-success='right' for='message'>Message</label>
                        <textarea name='message' type='text' id='message' class='form-control validate' required></textarea>                        
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button id="btn-submit" type="submit" class="btn btn-default" data-dismiss="modal">Envoyer</button>
                </div>
            </div>
        </div>
    </form>
    
    <div id='blog-comments' class="container">
        {% if comments %}
            {% for i in sizePage*(page-1)..sizePage*page-1 %}
                <div class='commentGroup'>
                    <div class='comment node-depth-{{ comments[i].depth }}' id='post{{ comments[i].id }}'>
                        <p class='comment-content'>
                            {% if comments[i].moderation %}
                                <strong style="color:red">Commentaire Modéré</strong><br>
                            {% endif %}
                            {% autoescape %}
                                {{ comments[i].comment|raw }}
                            {% endautoescape %}   
                        </p>

                        <p class='comment-signature'>
                            Rédigé par: <strong> {{ comments[i].author }}</strong>, le [{{ comments[i].comment_date }}] 
                        </p>

                        <div class='comment-control-panel'>
                            <button type="button" class="btn btn-primary" onclick="displayModal({{ comments[i].id }}, '{{ comments[i].author }}')"> Répondre</button>
                            <button onclick='applyModeration("{{ comments[i].id }}", true)' class='btn btn-warning'><i class='fas fa-user-secret'></i> Modérer</button>
                            <button onclick='applyModeration("{{ comments[i].id }}", false)' class='btn btn-success'><i class='far fa-thumbs-up'></i> Rétablir</button>
                            <button onclick='requestDel("{{ comments[i].id }}")' class='btn btn-danger'><i class='far fa-times-circle'></i> Supprimer</button>                                
                            <button class='reportCount' disabled><strong>Signalements: <i class='countNb'>{{ comments[i].report }}</i></strong></button>
                        </div>
                        <br>
                </div>
            {% endfor %}

        {% else %}
            <strong> Aucun commentaire signalé ou modéré</strong>
        {% endif %}
            
            
        {% if nbPage > 1 %}
            <nav id="nav-Pagination">
                <ul class="pagination">
                    {% if page > 1 %}
                        <li class="page-item"><a class="page-link" href="index.php?action=moderation&page={{ page-1 }}">Previous</a></li>
                    {% else %}
                        <li class="page-item"><a class="page-link" href="index.php?action=moderation&page={{ nbPage }}">Previous</a></li>
                    {% endif %}

                    {% for i in 1..nbPage %}
                        <li id='page-link-{{ i }}' class='page-item'><a class='page-link' href='index.php?action=moderation&page={{ i }}'>{{ i }}</a></li>
                    {% endfor %}

                    {% if page < nbPage %}
                        <li class="page-item"><a class="page-link" href="index.php?action=moderation&page={{ page+1 }}">Next</a></li>
                    {% else %}
                        <li class="page-item"><a class="page-link" href="index.php?action=moderation&page=1">Next</a></li>
                    {% endif %}

                </ul>
            </nav>
        {% endif %} 
    </div>
{% endblock %}

